===========
Kanji Lists
===========
A collection of Japanese character lists

Installation
============

.. code-block:: console

    pip install kanji-lists


Usage
=====

Using a list is simple enough:

.. code-block:: pycon

    >>> from kanji_lists import JOYO
    >>> "桃" in JOYO
    True
    >>> "苺" in JOYO
    False
    >>> len(JOYO)
    2136

Some lists also have subordinate lists:

.. code-block:: pycon

    >>> from kanji_lists import KYOIKU
    >>> "火" in KYOIKU.GRADE1
    True
    >>> "火" in KYOIKU.GRADE2
    False
    >>> KYOIKU.GRADE1.issubset(KYOIKU)
    True

Lists can also have different versions:

.. code-block:: pycon

    >>> from kanji_lists import KYOIKU
    >>> KYOIKU.HEISEI4.GRADE6 - KYOIKU.REIWA2.GRADE6
    {'城'}
    >>> "城" in KYOIKU.REIWA2.GRADE4
    True

If you do not specify a version, the default will be chosen. In the case of lists
maintained by the Japanese government, this will generally be the most recent list.
Since the default can change, specify a version if you want to make sure that you
get the same version of the list across updates.

Available Lists and Versions
============================

{% for key, data in data|dictsort %}
- {{ key }}
    {% for key, data in data["versions"]|dictsort %}
  - {{ key }}
        {%- if data["characters"] is mapping %}
            {% for key, data in data["characters"]|dictsort %}
    - {{ key }}
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
{%- endfor %}